# version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg18-trixie
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wahlbot_db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d wahlbot_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
