.app-card {
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #7697d6c9;
  border-radius: 0.5rem;
}

.main-content {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #88888865;
}